.status-pill {
  width: 58px;
  height: 34px;
  background: white;
  border: 2px solid #d9dee5;
  border-radius: 999px;
  display: flex;
  align-items: center;
  padding-left: 4px;
  box-sizing: border-box;
}

.status-dot {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background: #ef4b87;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  display: inline-block;
}

.custom-hover:hover {
  background-color: rgba(0, 0, 0, 0.08);
  // border-radius: 12px;
}