.pretty-notification-wrapper {
  .ant-notification-notice {
    background: transparent !important;
    box-shadow: none !important;
    padding: 0 !important;
    border: none !important;
  }

  .ant-notification-notice-content {
    margin: 0 !important;
  }

  .ant-notification-notice-message {
    display: none !important;
  }

  .ant-notification-notice-description {
    margin: 0 !important;
  }
}