.custom-modal {
    .ant-modal-content {
        padding: 0 !important;
    }
}

.modal-container {
    overflow-x: hidden;
    overflow-y: auto;
    justify-content: center;
    height: 100%;
    display: flex;

    // 左侧面板样式
    &-left {
        justify-content: flex-end;
        flex-shrink: 0;
        flex: 1 1 0%;
        display: flex;

        &-content {
            padding: 0 2.5rem;
            // width: 100%;
        }

        &-header {
            height: 139px;
            width: 100%;
        }

        &-title-wrapper {
            padding: 0.25rem 0 1.5rem;
        }

        &-title {
            font-size: 18px;
            font-weight: 600;
            line-height: 1.2;
            color: #101828;
        }

        &-subtitle {
            line-height: 1.5rem;
            margin-bottom: 0.5rem;
        }

        &-title-secondary {
            font-size: 13px;
            font-weight: 600;
            line-height: 16px;
            color: #354052;
        }

        &-tertiary-wrapper {
            margin-bottom: 0.5rem;
        }

        &-title-tertiary {
            text-transform: uppercase;
            font-size: 10px;
            font-weight: 500;
            line-height: 12px;
            color: #676f83;
        }
    }

    // 右侧面板样式
    &-right {
        overflow: hidden;
        justify-content: flex-start;
        flex-shrink: 1;
        flex: 1 1 0%;
        height: 100%;
        display: flex;
        position: relative;
    }

    // 表单组样式
    &-form-group {
        gap: 1rem;
        flex-direction: column;
        width: 660px;
        display: flex;
    }

    // 卡片行样式
    &-card-row {
        margin-left: 0;
        margin-right: 0;
        height: 120px;
    }

    // 卡片样式
    &-card {
        background-color: white;
        border-radius: 12px;
        padding: 0.75rem;
        border: 1px solid #e9ebf0;
        margin-right: 8px;
        cursor: pointer;
        box-shadow: 0 0 #0000, 0 0 #0000, 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
        transition: box-shadow 0.2s ease;

        &:hover {
            box-shadow: 0 0 #0000, 0 0 #0000, 0px 2px 4px 2px rgba(16, 24, 40, 0.05);
        }

        &-selected {
            border-color: #296dff;
            // box-shadow: 0 1px px 1px #296dff;
        }

        &-icon {
            border-radius: 0.375rem;
            justify-content: center;
            align-items: center;
            width: 1.5rem;
            height: 1.5rem;
            display: flex;
            background-color: #444ce7;
        }

        &-title {
            margin: 0.5rem 0 0.125rem;
            color: #354052;
            font-size: 13px;
            font-weight: 600;
            line-height: 16px;
        }

        &-desc {
            margin: 0.5rem 0 0.125rem;
            color: #676f83;
            font-size: 12px;
            font-weight: 400;
            line-height: 16px;
        }
    }

    // 表单行样式
    &-form-row {
        align-items: center;
        display: flex;
    }

    // 分割线样式
    &-divider {
        margin: 4px 0;
    }

    // 输入框基础样式
    .input-base() {
        outline: 2px solid transparent;
        outline-offset: 2px;
        caret-color: #155eef;
        color: #101828;
        padding: 7px 0.75rem;
        background-color: #c8ceda40;
        border-color: transparent;
        border-width: 1px;
        appearance: none;
        width: 100%;
        border-radius: 8px;
        font-size: 13px;
        font-weight: 400;
        line-height: 16px;
    }

    // 输入框样式
    &-input {
        .input-base();

        &-wrapper {
            width: 100%;
            position: relative;
        }

        &-label {
            font-size: 13px;
            font-weight: 600;
            line-height: 16px;
            color: #354052;
            margin-bottom: 0.25rem;
            display: flex;
            align-items: center;
            height: 1.5rem;
        }
    }

    // 文本域样式
    &-textarea {
        .input-base();
        min-height: 5rem;
    }

    // 头像样式
    &-avatar {
        // background: rgb(255, 234, 213);
        font-size: 32px;
        border-radius: 1rem;
        overflow: hidden;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        flex-grow: 0;
        flex-shink: 0;
        width: 3.5rem;
        height: 3.5rem;
        margin: 0 0.75rem;
        display: flex;
        position: relative;
    }
}


.bg-components-kbd-bg-white-rounded-sm {
    padding: .125rem;
    background-color: #ffffff1f;
    border-radius: .125rem;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
}

.dc-nav-header {
  z-index: 9;
  display: flex;
  flex: none;
  flex-direction: row;
  box-sizing: border-box;
  width: 100%;
  padding: 16px 24px;
  background-color: white;
  box-shadow: 0 2px 8px #0000000d;
}

.dc-bcm-detail {
  display: block;
  flex: 1 1;
  box-sizing: border-box;
  min-height: 0px;
  padding: 0 16px;
  overflow-x: hidden;
  overflow-y: auto;
  background: rgba(246, 246, 246, 1);
}

.dc-nav-header-title-group22 {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 3px;
  margin: 12px 0;
}

.dc-nav-header-title22 {
  height: 28px;
  margin: 0;
  color: rgba(51, 51, 51, 1);
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
}

.dc-bcm-detail-content {
  box-sizing: border-box;
  height: auto;
  padding-top: 16px;
}