.headerSection {
  width: 100%;
  background-color: white;
  box-sizing: border-box;
  box-shadow: 0 2px 8px #0000000d;
  padding: 16px 24px;
  flex: none;
  z-index: 9;
  display: flex;
  flex-direction: row;
}

.headerSectionTitle {
  height: 28px;
  display: flex;
  flex-direction: row;
  margin: 12px 0;
  align-items: center;
  font-size: 20px;
  line-height: 28px;
  color: rgba(38, 40, 44, 1);
  margin: 0;
  font-weight: 700;
}

.headerDescription {
  margin: 12px 0 0;
  color: rgba(78, 83, 90, 1);
  display: -webkit-box;
  font-size: 12px;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  line-height: 17px;
  max-width: 1000px;
  word-break: normal;
}

.commonWrapper {
  margin: 16px;
  background: white;
  padding: 16px
}


.lf-ds-card {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  // justify-content: center;
  width: 100%;
  height: 32px;
  margin-bottom: 12px;
  padding: 4px 8px;
  color: #000;
  border: 1px solid #cfd3e6;
  border-radius: 4px;
  -webkit-box-shadow: none;
  box-shadow: none;
  cursor: pointer;
  transition: box-shadow 0.3s;
  -webkit-box-align: center;
  -moz-box-align: center;
  font-size: 12px;
}

.lf-ds-card .lf-ds-logo {
  width: 24px;
  height: 24px;
  margin-right: 4px;
  font-size: 12px;
}

.lf-ds-card:hover {
  // background-color: #f9f9f9;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.lf-dwh-baseInfo {
  display: flex;
  align-items: center;
  height: 28px;
  margin-bottom: 6px;
  padding-left: 20px;
  // font-weight: 500;
  font-size: 15px;
  line-height: 28px;
}

.dc-lf-clone-label {
  color: #35b534;
  // font-weight: 600;
}

.dc-lf-clone-icon:hover {
  color: #5664ff;
}

.listItem {
  cursor: pointer;

  color: rgb(58, 61, 81);
  transition: all 0.3s ease;
}

.listItem:hover {
  background-color: rgba(93, 134, 255, 0.1);
  color: #155aef;
}

.selectedItem {
  background-color: rgba(93, 134, 255, 0.2) !important;
  color: #155aef !important;
}

.data-asset-header-metadata {
  border-radius: 12px;
  border: 1px solid #eaecf5;
  padding: 16px 20px;
  gap: 16px;
  display: flex;
  background-color: #ffffff;
  justify-content: space-evenly;
  flex-wrap: wrap;
}


.flex-col {
  flex-direction: column;
}

.justify-start {
  justify-content: start;
}

.gap-2 {
  gap: 8px;
}

.d-flex {
  display: flex;
}

.text-sm {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
}

.font-medium {
  font-weight: 500;
}

.gap-1 {
  gap: 4px;
}


.items-center {
  align-items: center;
}

.domain-link.ant-typography {
  color: #175cd3;
}

.right-panel-label {
  font-size: 16px;
  font-weight: 500;
  color: #757575;
}

.m-r-xss {
  margin-right: 4px;
}

.ant-typography {
  color: #181d27;
  overflow-wrap: break-word;
}

.render-domain-lebel-style {
  color: black;
  display: inline-block;
  overflow: hidden;
  font-size: 18px;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 148px;
}

.custom-react-flow {
  .react-flow__node-input.selectable.selected {
    box-shadow: none;
  }
}