<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.apache.seatunnel.web.dao.mapper.JobInstanceMapper">

    <resultMap id="JobInstancePageVOResultMap"
               type="org.apache.seatunnel.web.spi.bean.vo.JobInstanceVO">
        <id property="id" column="id"/>

        <result property="jobDefinitionId" column="jobDefinitionId"/>
        <result property="clientId" column="clientId"/>
        <result property="runMode" column="runMode"/>
        <result property="jobStatus" column="jobStatus"/>
        <result property="triggerSource" column="triggerSource"/>
        <result property="retryCount" column="retryCount"/>
        <result property="engineJobId" column="engineJobId"/>
        <result property="runtimeConfig" column="runtimeConfig"/>
        <result property="logPath" column="logPath"/>
        <result property="errorMessage" column="errorMessage"/>
        <result property="submitTime" column="submitTime"/>
        <result property="startTime" column="startTime"/>
        <result property="endTime" column="endTime"/>
        <result property="createTime" column="createTime"/>
        <result property="updateTime" column="updateTime"/>

        <result property="jobName" column="jobName"/>
        <result property="jobDesc" column="jobDesc"/>
        <result property="definitionMode" column="definitionMode"/>
        <result property="jobType" column="jobType"/>
        <result property="definitionClientId" column="definitionClientId"/>
        <result property="parallelism" column="parallelism"/>
        <result property="jobVersion" column="jobVersion"/>
        <result property="definitionStatus" column="definitionStatus"/>
        <result property="sourceType" column="sourceType"/>
        <result property="sinkType" column="sinkType"/>
        <result property="sourceTable" column="sourceTable"/>
        <result property="sinkTable" column="sinkTable"/>

        <result property="readRowCount" column="readRowCount"/>
        <result property="writeRowCount" column="writeRowCount"/>
        <result property="readQps" column="readQps"/>
        <result property="writeQps" column="writeQps"/>
        <result property="readBytes" column="readBytes"/>
        <result property="writeBytes" column="writeBytes"/>
        <result property="readBps" column="readBps"/>
        <result property="writeBps" column="writeBps"/>
        <result property="intermediateQueueSize" column="intermediateQueueSize"/>
        <result property="lagCount" column="lagCount"/>
        <result property="lossRate" column="lossRate"/>
        <result property="avgRowSize" column="avgRowSize"/>
        <result property="recordDelay" column="recordDelay"/>

        <result property="cronExpression" column="cronExpression"/>
        <result property="scheduleStatus" column="scheduleStatus"/>
        <result property="scheduleConfig" column="scheduleConfig"/>
        <result property="lastScheduleTime" column="lastScheduleTime"/>
        <result property="nextScheduleTime" column="nextScheduleTime"/>
    </resultMap>

    <sql id="BaseSelectColumns">
        i.id AS id,
        i.job_definition_id AS jobDefinitionId,
        i.client_id AS clientId,
        i.run_mode AS runMode,
        i.job_status AS jobStatus,
        i.trigger_source AS triggerSource,
        i.retry_count AS retryCount,
        i.engine_job_id AS engineJobId,
        i.runtime_config AS runtimeConfig,
        i.log_path AS logPath,
        i.error_message AS errorMessage,
        i.submit_time AS submitTime,
        i.start_time AS startTime,
        i.end_time AS endTime,
        i.create_time AS createTime,
        i.update_time AS updateTime,

        d.job_name AS jobName,
        d.job_desc AS jobDesc,
        d.mode AS definitionMode,
        d.job_type AS jobType,
        d.client_id AS definitionClientId,
        d.job_version AS jobVersion,
        d.release_state AS definitionStatus,
        d.source_type AS sourceType,
        d.sink_type AS sinkType,
        d.source_table AS sourceTable,
        d.sink_table AS sinkTable,

        IFNULL(m.read_row_count, 0) AS readRowCount,
        IFNULL(m.write_row_count, 0) AS writeRowCount,
        IFNULL(m.read_qps, 0) AS readQps,
        IFNULL(m.write_qps, 0) AS writeQps,
        IFNULL(m.read_bytes, 0) AS readBytes,
        IFNULL(m.write_bytes, 0) AS writeBytes,
        IFNULL(m.read_bps, 0) AS readBps,
        IFNULL(m.write_bps, 0) AS writeBps,
        IFNULL(m.intermediate_queue_size, 0) AS intermediateQueueSize,
        IFNULL(m.lag_count, 0) AS lagCount,
        IFNULL(m.loss_rate, 0) AS lossRate,
        IFNULL(m.avg_row_size, 0) AS avgRowSize,
        IFNULL(m.record_delay, 0) AS recordDelay,

        s.cron_expression AS cronExpression,
        s.schedule_status AS scheduleStatus,
        s.schedule_config AS scheduleConfig,
        s.last_schedule_time AS lastScheduleTime,
        s.next_schedule_time AS nextScheduleTime
    </sql>

    <select id="selectDetailById"
            resultMap="JobInstancePageVOResultMap">

        SELECT
        <include refid="BaseSelectColumns"/>

        FROM t_seatunnel_job_instance i

        LEFT JOIN t_seatunnel_job_definition d
        ON i.job_definition_id = d.id

        LEFT JOIN (
        SELECT
        job_instance_id,
        SUM(read_row_count) AS read_row_count,
        SUM(write_row_count) AS write_row_count,
        SUM(read_qps) AS read_qps,
        SUM(write_qps) AS write_qps,
        SUM(read_bytes) AS read_bytes,
        SUM(write_bytes) AS write_bytes,
        SUM(read_bps) AS read_bps,
        SUM(write_bps) AS write_bps,
        SUM(intermediate_queue_size) AS intermediate_queue_size,
        SUM(lag_count) AS lag_count,
        AVG(loss_rate) AS loss_rate,
        AVG(avg_row_size) AS avg_row_size,
        MAX(record_delay) AS record_delay
        FROM t_seatunnel_job_metrics
        GROUP BY job_instance_id
        ) m
        ON i.id = m.job_instance_id

        LEFT JOIN t_seatunnel_job_schedule s
        ON i.job_definition_id = s.job_definition_id

        WHERE i.id = #{id}

        LIMIT 1

    </select>

    <select id="pageWithDefinition"
            resultMap="JobInstancePageVOResultMap">

        SELECT
        <include refid="BaseSelectColumns"/>

        FROM t_seatunnel_job_instance i

        LEFT JOIN t_seatunnel_job_definition d
        ON i.job_definition_id = d.id

        LEFT JOIN (
        SELECT
        job_instance_id,
        SUM(read_row_count) AS read_row_count,
        SUM(write_row_count) AS write_row_count,
        SUM(read_qps) AS read_qps,
        SUM(write_qps) AS write_qps,
        SUM(read_bytes) AS read_bytes,
        SUM(write_bytes) AS write_bytes,
        SUM(read_bps) AS read_bps,
        SUM(write_bps) AS write_bps,
        SUM(intermediate_queue_size) AS intermediate_queue_size,
        SUM(lag_count) AS lag_count,
        AVG(loss_rate) AS loss_rate,
        AVG(avg_row_size) AS avg_row_size,
        MAX(record_delay) AS record_delay
        FROM t_seatunnel_job_metrics
        GROUP BY job_instance_id
        ) m
        ON i.id = m.job_instance_id

        LEFT JOIN t_seatunnel_job_schedule s
        ON i.job_definition_id = s.job_definition_id

        <where>
            <if test="dto != null">

                <if test="dto.id != null">
                    AND i.id = #{dto.id}
                </if>

                <if test="dto.jobDefinitionId != null">
                    AND i.job_definition_id = #{dto.jobDefinitionId}
                </if>

                <if test="dto.jobStatus != null and dto.jobStatus != ''">
                    AND i.job_status = #{dto.jobStatus}
                </if>

                <if test="dto.runMode != null and dto.runMode != ''">
                    AND i.run_mode = #{dto.runMode}
                </if>

                <if test="dto.jobType != null and dto.jobType != ''">
                    AND d.job_type = #{dto.jobType}
                </if>

                <if test="dto.keyword != null and dto.keyword != ''">
                    AND (
                    d.job_name LIKE CONCAT('%', #{dto.keyword}, '%')
                    OR CAST(i.engine_job_id AS CHAR) LIKE CONCAT('%', #{dto.keyword}, '%')
                    OR i.error_message LIKE CONCAT('%', #{dto.keyword}, '%')
                    OR i.log_path LIKE CONCAT('%', #{dto.keyword}, '%')
                    )
                </if>

                <if test="dto.queryStartTime != null">
                    AND i.create_time <![CDATA[ >= ]]> #{dto.queryStartTime}
                </if>

                <if test="dto.queryEndTime != null">
                    AND i.create_time <![CDATA[ <= ]]> #{dto.queryEndTime}
                </if>

            </if>
        </where>

        ORDER BY
        i.create_time DESC,
        i.id DESC

    </select>

</mapper>